
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

button, input {
    @apply p-4 rounded-none border border-solid border-teal-600 outline-teal-600;
}

button {
    border-left-width: 0;
    color: #fff;
    @apply bg-teal-600;
}

h1 {
    @apply text-teal-600;
}